:root{
	--font-color: #430C00;
	--bg-color: #FEA11E;
	--positive-bg: #1AE4AA;
	--negative-bg: #971E2F;
	--negative-font: #FD7F44;
	--dynny-color: #A2BAE0;
}
@font-face{
	font-family: "classicalComic";
	src: local("ClassicComic"), local("classic comic w01 regular"),
	url("src/Letras/ClassicComicRegular.ttf") format('truetype');
}
@font-face{
	font-family: "kindSans";
	src: local("Kind Sans Thin Regular"), local("Kind Sans Thin"), local("kindSans"), url("src/Letras/Kind_Sans_Thin.otf") format("opentype");
}
@keyframe scaledComingUp{
	from{
		transform: translate(100%, 12%) scale(0);
	}
	to{
		transform: translate(0, 0) scale(1);
	}
}
@keyframes pattern01Move{
	from{
		background-position: 0px 0px;
	}
	to{
		background-position: 800px 800px;
	}
}
.assets{
	display: none;
}
.assets img{
	display: none;
}

.notHere{
	display: none;
}
.glassy{
	background: linear-gradient(135deg, #fff8 20%, #0046 80%);
	box-shadow: 3px 3px 5px #000;
	color: #fff;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-radius: 25px;
	backdrop-filter:blur(7px);
	text-align: center;
	z-index: 1;
	font-family: "kindSans", sans-serif;
	font-weight: 900;
}
.flat{
	color: var(--font-color);
	font-family: "kindSans", sans-serif;
	font-weight: 900;
	box-shadow: 0.1em 0.1em 0 var(--font-color);
	background: var(--bg-color);
	border-radius: 1em;
}

.comic-balloon{
	color: #000;
	font-family: "playpen", sans-serif;
	border-radius: 1em;
	border: 2px solid black;
	background: #fff;
}

.gradienty{
	background: linear-gradient(0deg, var(--font-color) 20%, var(--bg-color) 90%);
	border: 2px solid var(--font-color);
	box-shadow: 0.1em 0.1em 0 var(--font-color);
	border-radius: 1em;
}

.circle{
	border-radius: 50%;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.flex-row{
	display: flex;
	gap: 2em;
	justify-content: center;
	align-items: center;
}

.flex-row-bottom{
	display: flex;
	gap: 2em;
	justify-content: center;
	align-items: flex-end;
}

.icon-menu{
	height: 3em;
	backdrop-filter: drop-shadow(1px 2px 0px rgb(0, 0, 0));
}

.icon{
	height: 3em;
	backdrop-filter: drop-shadow(1px 2px 0px rgba(0, 0, 0, 255));
}

.flex-column {
	flex-direction: column;
}
@media only screen and (orientation: landscape){
	.controles_cheroso {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 6;
		width: 100%; /* Cobrir a largura da tela */
		min-height: 100%; /* Cobrir a altura da tela */
	}
	body {
		margin: 0;
		background: #4A2A00;
	}
	.assets{
		display: none;
	}
	.assets img{
		display: none;
	}
	.gameScreen , .inGameUI{
		position: absolute;
		aspect-ratio: 1/1;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100vh;
	}
	
	#mainCanvas {
		
		z-index: 2;
	}

	#tra {
		
		z-index: 5;
	}

	#HUD {
		z-index: 3;
	}
	.inGameUI{
		z-index: 4;
	}
	.warning{
		display: none;
	}
	#error{
		display: none;
	}
}

table td{
	border-left: 1px solid var(--font-color);
	border-bottom: 1px solid var(--font-color);
	background: var(--bg-color);
	padding: 0.5em;
	text-align: center;
}

table td:nth-child(1){
	background: #9A1E1A;
}

@media only screen and (orientation: portrait){
	.controles_cheroso {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 6;
		max-width: 100%; /* Cobrir a largura da tela */
		min-height: 100%; /* Cobrir a altura da tela */
	}
	body {
		margin: 0;
		background: #4A2A00;
	}
	.assets{
		display: none;
	}
	.assets img{
		display: none;
	}
	.gameScreen , .inGameUI{
		position: absolute;
		aspect-ratio: 1/1;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100vw;
	}
	
	#mainCanvas {
		
		z-index: 2;
	}

	#tra {
		
		z-index: 5;
	}

	#HUD {
		z-index: 3;
	}
	.inGameUI{
		z-index: 4;
	}
	.warning{
		display: none;
	}
	#error{
		display: none;
	}
}