.inGameUI{
	width: 100vh;
	height: 100vh;
	overflow: hidden;
}

/* title screen */
.titleScreen{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titleScreen img{
	max-width: 90%;
	max-height: 40%;
	border: 1px solid var(--bg-color);
	margin-top: 1em;
}

.titleLogo{
	font-size: 5em;
	margin: 0;
	color: var(--bg-color);
	font-family: cursive;
}

.titleOptions{
	
}

.titleCommand{
	background: var(--font-color);
	opacity: 50%;
	color: var(--bg-color);
	padding: 0.5em 1.5em;
	border-radius: 50px;
}

.titleCommand.selected{
	transition: color 0.4s, transform 0.4s, opacity 0.5s;
	opacity: 100%;
	transform: translate(-0.2em, -0.2em);
	box-shadow: 0.2em 0.2em 0 #000;
}

.titleScreen footer{
	color: var(--bg-color);
	text-align: center;
	margin: 2em;
}

/* container saving */

.container__saving{
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	gap: 0.2em;
	color: var(--font-color);
}

.container__saving div{
	padding: 0.5em 1em;
	color: var(--font-color);
	border: 1px solid var(--font-color);
}

.container__saving div.selected{
	color: var(--bg-color);
	border: none;
	background: var(--font-color);
	transition: color 0.4s, border 0.4s;
}


/* schedule table */
.schedule{
	display:none;
}

.schedule header{
	background: var(--bg-color);
	text-align: center;
	padding: 1em;
	
	color: var(--font-color);
	border: 1px solid var(--font-color);
}

.schedule__options{
	display: flex;
	justify-content: center;
}
.schedule__options div{
	display: flex;
	background: var(--bg-color);
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	border: 1px solid var(--font-color);
	font-size: 1.5em;
	text-align: center;
}

.schedule main{
	width: 100%;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: repeat(8, 4fr);
}

.schedule main div{
	display: flex;
	background: var(--bg-color);
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	border: 1px solid var(--font-color);
}

.schedule main div.selected{
	transition: background 0.2s, color 0.2s;
	background: var(--font-color);
	color: var(--bg-color);
}

.weather_icon{
	object-fit: cover;
	background-position: 0 0;
	width: 2em;
	height: 2em;
}

.charWin{
	display: none;
}
.quickstats{
	display: flex;
	justify-content: center;
	align-items: center;
	top: 4%;
	right: 4%;
	gap: 1em;
	padding: 1em;
}

.characterQuickInfo{
	bottom: 4%;
	left: 4%;
}

/*character menu*/

.characterMenu{
	display: none;
	justify-content: space-between;
	align-items: center;
	background: var(--bg-color);
	margin-top: 9em;
	max-width: 100%;
	padding: 1em;
	gap: 1em;
}

.characterMenu .it{
	width: 2em; height: 2em;
	background: var(--font-color);
}

.characterMenu .description{
	width: 75%;
	text-align: right;
	font-size: 2em;
}

.characterMenu .it.selected{
	background: white;
}

.dialogs{
	position: absolute;
	display: none;
	width: 70%;
	height: 10%;
	padding: 0.5em;
	left: 5%;
	bottom: 5%;
}

.speaking{
	margin: 0;
	padding: 0;
}

.option.selected{
	border: 1px dashed #000;
}

.bags{
	width: 50%;
	padding: 2vh;
}

.calendar{
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon-pic{
	width: 2em;
	height: 2em;
	border-radius: 50%;
	border: 1px solid #000;
}

.circularBar{
	padding: 0.2em;
	background: conic-gradient(from 0deg, var(--bg-color) 0deg 80deg, var(--font-color) 0deg 360deg);
	transition: background 2s;
}

.vertical-bar{
	padding: 0.1em;
	background: var(--font-color);
	width: 1em;
	height: 5em;
}

.vertical-bar div{
	width: 100%;
	background: var(--bg-color);
}

.horizontal-bar{
	padding: 0.1em;
	background: var(--font-color);
	width: 5em;
	height: 1em;
}

.horizontal-bar div{
	background: var(--font-color);
	height: 100%;
}

/*
.option.selected::before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width:1em; height: 1em;
	background: #000;
}
*/