.inGameUI{
	width: 100vh;
	height: 100vh;
}

/* title screen */
.titleScreen{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titleScreen img{
	max-width: 90%;
	max-height: 40%;
	border: 1px solid var(--bg-color);
	margin-top: 1em;
}

.titleLogo{
	font-size: 5em;
	margin: 0;
	color: var(--bg-color);
	font-family: cursive;
}

.titleOptions{
	
}

.titleCommand{
	background: var(--font-color);
	opacity: 50%;
	color: var(--bg-color);
	padding: 0.5em 1.5em;
	border-radius: 50px;
}

.titleCommand.selected{
	transition: color 0.4s, transform 0.4s, opacity 0.5s;
	opacity: 100%;
	transform: translate(-0.2em, -0.2em);
	box-shadow: 0.2em 0.2em 0 #000;
}

.titleScreen footer{
	color: var(--bg-color);
	text-align: center;
	margin: 2em;
}

/* container saving */

.container__saving{
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	gap: 0.2em;
	color: var(--font-color);
}

.container__saving div{
	padding: 0.5em 1em;
	color: var(--font-color);
	border: 1px solid var(--font-color);
}

.container__saving div.selected{
	color: var(--bg-color);
	border: none;
	background: var(--font-color);
	transition: color 0.4s, border 0.4s;
}


/* schedule table */
.schedule{
	display:none;
}

.schedule header{
	background: var(--bg-color);
	text-align: center;
	padding: 1em;
	
	color: var(--font-color);
	border: 1px solid var(--font-color);
}

.schedule main{
	width: 100%;
	height: 50%;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: repeat(8, 4fr);
}

.schedule main div{
	display: flex;
	background: var(--bg-color);
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	border: 1px solid black;
}

.weather_icon{
	object-fit: cover;
	background-position: 64px 0;
	width: 2em;
	height: 2em;
}

.charWin{
	display: none;
	position: absolute;
	bottom: 4%;
	left: 4%;
}
.quickstats{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 1em;
}

/*pause menu*/

.pauseMenu{
	display: none;
	justify-content: space-between;
	align-items: center;
	background: var(--bg-color);
	margin-top: 9em;
	max-width: 100%;
	padding: 1em;
	gap: 1em;
}

.pauseMenu .it{
	width: 2em; height: 2em;
	background: var(--font-color);
}

.pauseMenu .description{
	width: 75%;
	text-align: right;
	font-size: 2em;
}

.pauseMenu .it.selected{
	background: white;
}